<h1>Now Playing!</h1>

<div>
  <% @movies.each do |movie| %>
    <div class="movie-tile">
      <img src=<%= movie.image %>>
      <%= link_to(movie[:title], movie_path(movie[:id])) %>
    </div>
  <% end %>
</div>
