body {
  background-color: #ddc744;
  text-align: center;
}

 .movie-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-tile {
  display: inline-block;
  margin: 4rem;
  width: 200px;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

